<h1>Dashboards</h1>

<%= post_form_for(TextPost) do |form| %>
  <%= form.text_field :body, placeholder: "Post Here!", required: true %>
<% end %>

<%= post_form_for(PicPost) do |form| %>
  <%= form.file_field :image, required: true %>
<% end %>

<%= render @dashboard.timeline %>
<%#= render @posts %>
