<div>
  <%= avatar(post.user) %>
  <%= link_to post.username, post.user %>
  <%= render post.content %>
  <%= link_to post do %>
    <%= time_ago_in_words(post.created_at) %> ago
  <% end %>

  <%= like_button(post)  %>
</div>
