<h1>Search Results</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h3>
        <% if post._type == "pic_post" %>
          <%= link_to post.image_file_name, controller: "posts", action: "show_pic", id: post.id %>
        <% end %>
        <% if post._type == "text_post" %>
          <%= link_to post.body, controller: "posts", action: "show_text", id: post.id%>
        <% end %>
        <% if post._type == "project_post" %>
          <%= link_to post.body, controller: "posts", action: "show_project", id: post.id%>
        <% end %>
        <% if post._type == "job_post" %>
          <%= link_to post.body, controller: "posts", action: "show_job", id: post.id%>
        <% end %>
        <% if post._type == "meeting_post" %>
          <%= link_to post.body, controller: "posts", action: "show_meeting", id: post.id%>
        <% end %>
      </h3>
    </li>
  <% end %>
</ul>
